html
  head
    title Gym Bro
    link(rel="stylesheet" href="styles.css")
  body
    header
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/service') Our Service
          li
            a(href='/contact') Contact
    block content
  footer
    p © 2023 Gym Services. All rights reserved.
