extends navbar

block content
    header
        h1 Gym Services
        p Welcome to our fitness center's services page.

        div
            h2 Cardio Workouts
            p Our cardio workouts are designed to improve your cardiovascular health and endurance. We offer a variety of cardio machines and classes to suit your fitness goals.

        div
            h2 Strength Training
            p Build and tone your muscles with our strength training programs. We provide a range of free weights, machines, and personal training options.

        section
            h2 Group Classes
            p Join our group fitness classes, including yoga, spinning, and HIIT. Work out in a fun and motivating environment with our experienced instructors.

        section
            h2 Personal Training
            p Get personalized fitness guidance with our certified personal trainers. They will create a customized workout plan to help you achieve your fitness objectives.

        section
            h2 Nutritional Guidance
            p Achieve your fitness goals with proper nutrition. Our nutritionists can help you develop a balanced diet plan tailored to your needs.
