extends navbar

block content
    h1.greetings#people To contact us =>
    h3 fill up this form if you like: 
    form()
        label(for="text-box") Enter Text:
        input(type="text")
        button(type="submit") Submit
    form()
        label(for="text-box") Enter Name:
        input(type="text")
        button(type="submit") Submit
    h3  to contact us call these numbers or this email
    h5 GymBro@gmail.com && 555999338882